.navbarBox{
    padding: 5px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid black;
    align-items: center;
}

.projectsNavabr-end{
    display: flex;
    gap:2px;
    align-items: center;
}
.navbar-part1{
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}




.projects-url{
    /* / Sample Project / Upload */

width: 392px;
height: 46px;
margin-top: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32.1757px;
/* line-height: 46px; */
/* identical to box height, or 143% */
letter-spacing: 0.229826px;
border: 1px solid black;
color: #999999;


}

.projects-en{
    /* EN */

width: 42px;
height: 38px;
left: 1621px;
top: 73px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32.5px;
line-height: 38px;
/* identical to box height */

color: #1E1E1E;


}
.projects-notification >svg{
    height: 35px;
border: 1px solid black;


}